<mat-toolbar>
  <mat-toolbar-row>
    <span>HC Reception</span>
    <span class="example-spacer"></span>
    <button
      mat-raised-button
      mat-icon-button
      matTooltip="Sair"
      class="example-icon"
      aria-label="Logout"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Visualização de pacientes">
    <app-main></app-main>
  </mat-tab>
  &nbsp;
  &nbsp;
  &nbsp;
  <mat-tab label="Visualização de gráficos">
    <app-charts></app-charts>
  </mat-tab>
</mat-tab-group>
