.container {
  background-color: #F5F5F5;
}

.login-container {
  background-color: #DAE8FC;
}

.content {
  margin-top: 20px;
  margin-bottom: 52px;
  margin-left: 100px;
  margin-right: 100px;
}

.title {
  margin-top: 20px;
  min-height: 60px;
}

.fields {
  min-width: 264px;
  margin-bottom: 20px;
}
